.background{
width:80%;
height:100%;
position:relative;
margin:0 auto;

}
body{
background:url("../img/indiecutsbackground.png");
text-align:center !important;
}
#ic_phone{
height:100%;
position:relative;
}
.container{
	width: 100% !important;
	position: relative;
}
#ic_gplay{display: inline-block;
    vertical-align: middle;
    float: none;
	position:relative;
	max-width:200px;
	min-width:200px;

}
.divHelper{
	display: inline-block;
	height:100%;
	position:relative;
	vertical-align:middle;
}
.ic_col{
	text-align: center;
	padding:0;
	
}

.coming_soon{
color:#e3e3e3	;
font-size:30px;
margin-top: -35%;


}